.kd-contact-page {
    background: #F9FAFC;
}
.kd-contact-title {
  margin: 10% auto 6% auto;
  text-align: center;
    font-family: "MavenPro-Medium", arial, sans-serif;
}

.w-40 {
  width: 40%;
}

.w-85 {
  width: 85%;
}

.m-r-1-5 {
  margin-right: -0.5%;
}

.kd-contact {
  text-align: center;
  margin: 0px 5%;
  font-family: "MavenPro-Medium", arial, sans-serif;
  margin-bottom: 50px
}

.kd-form {
  text-align: center;
  border: 1px solid #9f9e9e;
  border-radius: 10px;
  width: 30%;
  padding: 30px 0 10px 0;
  display: inline-block;
  vertical-align: top;
}

.kd-form h2 {
  background-image: url('assets/img/tachetelephone.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 37px 6px 50px 0;
  width: 42%;
  margin: auto;
  color: white;
  margin-top: -82px;
}

.kd-form form {
  margin-top: 30px;
}

.kd-form input,textarea {
  border: 1px solid #9f9e9e;
  border-radius: 8px;
  padding: 5px 2%;
  margin-bottom: 15px;
}

.kd-form textarea {
  height: 45px;
}

.kd-check {
  font-size: 12px;
}

.kd-img-left {
  width: 30%;
  display: inline-block;
}

.kd-img-right {
  width: 26%;
  display: inline-block;
}

.kd-img-left img {
  width: 30%;
}

.kd-img-right img {
  width: 30%;
  display: inline-block;
}
