@font-face {
	font-family: 'MavenPro-Black';
	src: url('assets/police/maven-pro/MavenPro-Black.ttf');
}

@font-face {
	font-family: 'MavenPro-Bold';
	src: url('assets/police/maven-pro/MavenPro-Bold.ttf');
}

@font-face {
	font-family: 'MavenPro-Medium';
	src: url('assets/police/maven-pro/MavenPro-Medium.ttf');
}

@font-face {
	font-family: 'MavenPro-Regular';
	src: url('assets/police/maven-pro/MavenPro-Regular.ttf');
}

body {
	margin: 0;
	padding: 0;
}

.m-b-40 {
	margin-bottom: 40px;
}

.i-b {
	display: inline-block;
}

.t-a-c {
	text-align: center;
}
/*======================HEADER======================================*/

.kd-header {
	font-family: "MavenPro-Medium", arial, sans-serif;
	font-size: 22px;
	position: fixed;
	top: 0;
	left: 0;
	width: 92%;
  background-color: white;
  padding: 20px 4%;
  border-bottom: 1px solid #eaeae8;
  z-index: 2;
}

.kd-header a {
	text-decoration: none;
	color: #000000;
}

.kd-header .kd-logo{
	display: inline-block;
	width: 20%;
}

.kd-header .kd-nav {
	display: inline-block;
	width: 78%;
	text-align: right;
}

.kd-nav a {
	font-size: 15px;
  margin: 0 2%;
  color: #b5b5b5;
  padding: 5px 1%;
}

.kd-nav a:hover {
	border-bottom: 2px solid #FDF400;
}

/*====================== SECTION 1 ======================================*/

.kd-presentation {
	margin-top: 66px;
	min-height: 640px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('assets/img/background.png');
	font-family: 'MavenPro-Bold', arial, sans-serif;
}

.kd-influence {
	width: 50%;
	padding: 120px 5% 0;
}

.kd-influence h1 {
	font-size: 40px;
}

.kd-influence p {
	font-size: 20px;
	font-family: 'MavenPro-Regular', arial, sans-serif;
	margin-bottom: 30px;
}

.kd-demo-link {
	background-color: #7F3AFF;
	text-decoration: none;
	color: white;
	border-radius: 20px;
	padding: 11px 3%;
  font-size: 14px;
  margin-right: 3%;
}

.kd-info-link {
	text-decoration: none;
	color: #000000;
	background-color: white;
  padding: 11px 3%;
  font-size: 14px;
  border: 1px solid #b5b5b5;
  border-radius: 20px;
}

.kd-presentation .kd-ancre {
	display: block;
  text-align: center;
  margin-top: 155px;
}

/*====================== SECTION 2 ======================================*/


.kd-perso {
	min-height: 640px;
	font-family: 'MavenPro-Medium', arial, sans-serif;
}

.kd-perso p {
	font-family: 'MavenPro-Regular', arial, sans-serif;
}

.kd-left-prez {
	display: inline-block;
  width: 45%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 35px;
  padding-top: 10px;
  padding-bottom: 111px;
  background-image: url(assets/img/tachegif.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.kd-left-prez img {
	width: 50%;
  margin-left: 27%;
  margin-top: 115px;
}

.kd-right-prez {
	display: inline-block;
	width: 25%;
	vertical-align: top;
  padding-top: 130px;
}


/*====================== SECTION 3 ======================================*/


.kd-using {
	min-height: 646px;
	font-family: 'MavenPro-Medium', arial, sans-serif;
	background-image: url('assets/img/background-using.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -120px;
}


.kd-using p {
	font-family: 'MavenPro-Regular', arial, sans-serif;
	text-align: center;
	font-size: 13px;
}

hr {
	width: 20%;
	border-top: 2px solid #FDF400;
	height: 0px;
}

.kd-use-title {
	width: 50%;
	text-align: center;
	margin: auto;
	margin-bottom: 25px;
  padding-top: 10px;
}

.kd-use-articles {
	text-align: center;
}

.kd-use-articles article {
	background-color: white;
	border-radius: 20px;
	border: 1px solid #eaeae8;
	padding: 10px 0.5%;
}

.kd-use-1 {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	margin-right: 2%;
}

.kd-use-2 {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	margin-right: 2%;
}

.kd-use-2 p {
	margin-bottom: 32px;
  margin-top: 32px;
}

.kd-use-2 img {
  margin-top: 25px;
  width: 44%;
}


.kd-use-3 {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	margin-right: 2%;
}

.kd-use-3 p {
	margin-bottom: 32px;
  margin-top: 32px;
}

.kd-use-3 img {
  margin-top: 25px;
  width: 36%;
}

.kd-use-4 {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

.kd-use-4 p {
	margin-bottom: 32px;
  margin-top: 32px;
}

.kd-use-4 img {
  margin-top: 25px;
  width: 41%;

}


p.kd-ou {
	color: #5750F7;
	font-family: 'MavenPro-Bold',arial, sans-serif;
	font-weight: bold;
	font-size: 25px;
}

p.kd-prez-footer1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 0;
	font-family: "MavenPro-Medium", arial, sans-serif;
}

p.kd-prez-footer2 {
	text-align: center;
	margin-top: 8px;
	font-weight: bold;
	font-family: "MavenPro-Medium", arial, sans-serif;

}

/*====================== SECTION 4 ======================================*/

.kd-mission {
	min-height: 600px;
	font-family: 'MavenPro-Medium', arial, sans-serif;
	text-align: center;
}

.kd-mission h2 {
	text-align: center;
	margin-bottom: 60px;
}

.kd-mission article {
	width: 30%;
	text-align: left;
}
.kd-mission .kd-mission-center {
	width: 20%;
}
.kd-mission-logo {
	width: 22%;
}

.kd-miss-desc {
	width: 70%;
	margin-left: 5%;
	margin-bottom: 30px;
	vertical-align: top;
}

.kd-miss-desc h3 {
	margin-bottom: 0;
	margin-top: 0;
}

.kd-miss-desc p {
	margin-top: 5px;
}

.kd-img-center {
	width: 55%;
  margin-left: 23%;
}

/*====================== SECTION 5 ======================================*/

.kd-slide {
	min-height: 640px;
	font-family: 'MavenPro-Medium', arial, sans-serif;
	text-align: center;
}

.kd-slide h2 {
	margin-left: 3%;
	text-align: left;
	margin-bottom: 100px;
}

.kd-slide li {
	text-decoration: none;
	list-style: none;;
}

.kd-slide-txt {
	width: 32%;
	background-image: url('assets/img/bullebleuefonce.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	min-height: 305px;
	padding: 20px 3%;
	vertical-align: bottom;
}
.kd-slide-txt h3 {
	margin-top: 70px;
	font-size: 17px;
  width: 80%;
}

.kd-slide-txt p {
	width: 80%;
  font-size: 14px;
 	text-align: left;
}

.kd-slide-img {
	width: 14%;
	margin-left: 5%;
	text-align: left;
	vertical-align: bottom;
}

.kd-slide-img img {
	width: 50%;
}

.slick-prev {
	position: absolute;
  left: 10%;
  top: 225px;
  z-index: 1;
}

.slick-next {
	position: absolute;
  right: 15%;
  top: 225px;
  z-index: 1;
}

/*====================== SECTION 6 ======================================*/

.kd-team {
	min-height: 560px;
	font-family: 'MavenPro-Medium', arial, sans-serif;
	text-align: center;
	background-color: #F9FAFC;
}

.kd-team-img {
	width: 40%;
	vertical-align: top;
	margin-top: 70px;
}

.kd-team-img img {
	width: 60%;
}

.kd-team-desc {
	width: 40%;
	margin-top: 70px;
}

.kd-team-desc h2, p {
	text-align: left;
}

/*====================== SECTION 6 ======================================*/


.kd-marketing {
	min-height: 590px;
	font-family: 'MavenPro-Medium', arial, sans-serif;
	text-align: center;
	background-image: url('assets/img/vague.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.kd-marketing h2 {
	width: 40%;
  margin: auto;
  margin-bottom: 40px;
  font-size: 34px;
  padding-top: 50px;
}


/*====================== SECTION 9 ======================================*/

.usecase {
	margin-top: 67px;
	background-image: url('assets/img/background-using.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-family: 'MavenPro-Medium', arial, sans-serif;
	background-position-y: -155px;
}

.kd-user-block {
	display: inline-block;
  width: 200px;
  padding: 66px 0 65px;
  margin: 100px 2% 0;
  border-radius: 10px;
  border: 1px solid #eaeae8;
}

.kd-user-block p {
	text-align: center;
	font-size: 16px;
}

.bg-w {
	background-color: white
}

.bg-y {
	background-color: #FDEA07;
}


/*====================== FOOTER ======================================*/
footer {
	font-family: 'MavenPro-Regular', arial, sans-serif;
	padding: 20px 3%;
}

.kd-footer-left {
	width: 30%;
	display: inline-block;
}

.kd-footer-right {
	width: 65%;
	text-align: right;
	display: inline-block;
}

.kd-footer-right a {
	margin-right: 2%;
}

